{% set items = [
  {
    title: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit.',
    linkURL: '#',
    linkText: 'En savoir plus'
  }, {
    title: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit.',
    linkURL: '#',
    linkText: 'En savoir plus'
  }, {
    title: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nec nibh rhoncus, posuere nulla et, iaculis massa. Donec dapibus ac risus ac imperdiet. Praesent at ante purus.',
    linkURL: '#',
    linkText: 'En savoir plus'
  }, {
    title: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nec nibh rhoncus, posuere nulla et, iaculis massa. Donec dapibus ac risus ac imperdiet. Praesent at ante purus.',
    linkURL: '#',
    linkText: 'En savoir plus'
  }
] %}

{% include "../components/article.html" %}